@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1 class="text-center">PROYECTO FINAL</h1>
        <p class="text-center">UNIVESIDAD AMERICANA DE ACAPULCO</p>
        <p class="text-center">MATERIA:Taller de Programacion WEB</p>
        <p class="text-center">PROFR: Ing. Jose Francisco Fortino Garcia Castro</p>
        <p class="text-center">ALUMNO: Rafael Bernardino Gorjon</p>
    </div>

